/* Font sizes */
h1,
.h1 {
    font-size: 6rem; // 96px
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
        font-size: 3rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 2rem;
    }
}

h2,
.h2 {
    font-size: 4.6825rem; // 74.92px
    margin-bottom: 0;

    @include media-breakpoint-down(lg) {
        font-size: 3rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 2rem;
    }
}

h3,
.h3 {
    font-size: 4rem; // 64px
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
        font-size: 2rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 1.5rem;
    }
}

h4,
.h4 {
    font-size: 2.640625rem; // 42.25px
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
        font-size: 1.5rem;
    }
}

h5,
.h5 {
    font-size: 2.60125rem; // 41.62px
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

h6,
.h6 {
    font-size: 2.4725rem; // 39.56px
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

h7,
.h7 {
    font-size: 2.364375rem; // 37.83px
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h8 {
    font-size: 2.269375rem; // 36.31px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h9 {
    font-size: 2.0175rem; // 32.28px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h10 {
    font-size: 1.8225rem; // 29.16px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h11 {
    font-size: 1.805625rem; // 28.89px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h12 {
    font-size: 1.75rem; // 28px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h13 {
    font-size: 1.558125rem; // 24.93px

    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.h14 {
    font-size: 1.5rem; // 24px

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }
}

.h15 {
    font-size: 1.36rem; // 21.76px

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }
}

.h16 {
    font-size: 1.343125rem; // 21.49px

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }
}

.h17 {
    font-size: 1.27rem; // 20.32px

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }
}

.h18 {
    font-size: 1.070625rem; // 17.13px

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }
}

.h19 {
    font-size: 1.01rem; // 16.16px

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }
}

.h20 {
    font-size: 0.9375rem; // 15px

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rammetto+One&family=Sawarabi+Gothic&display=swap');

$gothic: "Sawarabi Gothic", sans-serif;
$poppins: "Poppins", sans-serif;
$rammetto: "Rammetto One", cursive;

$font-body: $rammetto;

$font-families: (
    "gothic": "Sawarabi Gothic",
    "poppins": "Poppins",
    "rammetto": "Rammetto One",
);

@each $name, $font-family in $font-families {
    .font-#{$name} {
        font-family: $font-family, sans-serif;
    }
}

$asset-path: "../webfonts/";

/* Fonts includer */
@mixin font-face($font-family, $font-file, $weight: "normal", $style: "normal") {
    @font-face {
        font-family: $font-family;
        src: local($font-file), url($asset-path + $font-file + ".woff") format("woff"),
            url($asset-path + $font-file + ".woff2") format("woff2"),
            url($asset-path + $font-file + ".eot") format("embedded-opentype"),
            url($asset-path + $font-file + ".ttf") format("truetype");
        font-weight: $weight;
        font-style: $style;
    }
}

@include font-face("Gilroy", "Gilroy-Thin", 100);
@include font-face("Gilroy", "Gilroy-Ultralight", 200);
@include font-face("Gilroy", "Gilroy-Light", 300);
@include font-face("Gilroy", "Gilroy-Regular", 400);
@include font-face("Gilroy", "Gilroy-Medium", 500);
@include font-face("Gilroy", "Gilroy-Semibold", 600);
@include font-face("Gilroy", "Gilroy-Bold", 700);
@include font-face("Gilroy", "Gilroy-Extrabold", 800);
@include font-face("Gilroy", "Gilroy-Black", 900);
@include font-face("Gilroy", "Gilroy-Heavy", 901);

$font-weights: 300, 400, 500, 600, 700, 800, 900;

@each $fw in $font-weights {
    .fw-#{$fw} {
        font-weight: $fw;
    }
}
