@function imgUrl($file, $path: "background") {
    @return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    padding: 48px 0 6px;
    background: imgUrl("mobile-header.png") center bottom, linear-gradient(0deg, #ff7a32 0%, #ffd752 100%);
    background-size: contain;

    @include media-breakpoint-up(md) {
        background: imgUrl("clouds.png") center 128%, linear-gradient(0deg, #ff7a32 0%, #ffd752 100%);
        background-size: contain;
        padding: 48px 0 181px;
    }

    .banner {
        position: relative;

        .fia-presents {
            position: absolute;
            left: 6%;
            top: 11%;

            @include media-breakpoint-only(xl) {
                top: -5%;
            }

            @include media-breakpoint-down(xl) {
                display: none;
            }
        }

        .hero-img {
            position: relative;

            .buy-tickets {
                position: absolute;
                right: 8rem;
                top: 16rem;
                z-index: 1;

                @include media-breakpoint-only(xl) {
                    right: 0;
                    top: 8rem;
                }

                @include media-breakpoint-down(xl) {
                    right: 0;
                    top: 6rem;
                }

                @include media-breakpoint-down(lg) {
                    right: 0;
                    top: 2rem;
                    width: 200px;
                }

                @include media-breakpoint-down(sm) {
                    right: 0;
                    top: 2rem;
                    width: 121px;
                }
            }

            .spicefest {
                position: relative;
                z-index: 100 !important;
            }

            .location {
                background: linear-gradient(180deg, #ff7222 0%, #e43b16 100%);
                border-radius: 7.97678px;
                transform: rotate(6.22deg);
                color: $white;
                font-size: 41.62px;
                text-align: center;
                display: inline-block;
                padding: 24px;
                position: absolute;
                bottom: -4rem;
                left: 12%;
                z-index: 2;

                @include media-breakpoint-only(xl) {
                    left: 2%;
                    bottom: -6.5rem;
                }

                @include media-breakpoint-down(xl) {
                    font-size: 2rem;
                    left: 8%;
                    bottom: -5rem;
                }

                @include media-breakpoint-down(lg) {
                    font-size: 1.5rem;
                    bottom: -4rem;
                    left: 8%;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 16.18px;
                    padding: 8px 10px;
                    left: 0;
                    bottom: -2.5rem;
                }
            }

            .date {
                color: #fff;
                font-size: 74.92px;
                line-height: 1;
                text-align: center;
                display: inline-block;
                padding: 24px 60px;
                background: linear-gradient(180deg, #ee0202 0%, #d60707 100%);
                border-radius: 5.84235px;
                transform: rotate(-11.45deg);
                position: absolute;
                font-family: "Poppins", sans-serif;
                bottom: -3.5rem;
                right: 14%;
                z-index: 3;
                font-weight: 900;

                @include media-breakpoint-only(xl) {
                    right: 2%;
                    bottom: -5.5rem;
                }

                @include media-breakpoint-down(xl) {
                    font-size: 4rem;
                    right: 8%;
                    bottom: -5rem;
                }

                @include media-breakpoint-down(lg) {
                    font-size: 2.5rem;
                    padding: 20px 48px;
                    right: 8%;
                    bottom: -3.5rem;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 29.13px;
                    padding: 10px 18px;
                    right: 0;
                    bottom: -3rem;
                }
            }
        }

        .timing {
            padding-top: 200px;

            @include media-breakpoint-down(sm) {
                display: none;
            }
        }

        .mobile-sponsors {
            padding-top: 142px;

            @include media-breakpoint-up(md) {
                display: none;
            }
        }
    }
}

section.main {
    background: linear-gradient(180deg, #ff7631 11.6%, #fa7035 99.62%);

    @include media-breakpoint-down(sm) {
        padding-top: 94px;
        margin-top: -1px;
    }

    .event-category {
        .category-card {
            height: 100%;
            background: linear-gradient(180deg, #e24a29 0%, #ff5732 100%);
            position: relative;
            transition: 0.7s all ease;
            transform: scale(1);
            padding: 22px 36.71px 36.71px;

            @include media-breakpoint-down(sm) {
                padding: 13px 21px 20px;
            }

            .title {
                font-size: 2.364375rem; // 37.83px
                text-align: center;
                line-height: 1;
                padding-bottom: 15px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include media-breakpoint-down(sm) {
                    font-size: 1.348rem;
                }
            }

            .window {
                height: 409px;
                width: 100%;
                padding: 24px;
                display: flex;
                justify-content: center;
                align-items: end;

                @include media-breakpoint-down(sm) {
                    height: 240px;
                    padding: 14px;
                }

                &.win1 {
                    background: imgUrl("category-outdoor.jpg") center;
                    background-size: cover;
                }

                &.win2 {
                    background: imgUrl("category-indoor.jpg") center;
                    background-size: cover;
                }

                @include media-breakpoint-down(sm) {
                    .btn {
                        width: 100%;
                        font-size: 1.34375rem;
                        height: 54px;
                        padding: 8px !important;
                        line-height: 1;
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        align-items: center;
                    }
                }
            }

            .free-entry-circle {
                position: absolute;
                top: 2.5rem;
                left: -3rem;

                @include media-breakpoint-down(xl) {
                    left: -0.3rem;
                }

                @include media-breakpoint-down(lg) {
                    left: -1rem;
                }

                @include media-breakpoint-down(sm) {
                    width: 97.75px;
                    top: 2rem;
                    left: -0.5rem;
                }
            }

            .held-at-circle {
                position: absolute;
                top: 0;
                top: 2.5rem;
                right: -4rem;

                @include media-breakpoint-down(xl) {
                    right: -0.3rem;
                }

                @include media-breakpoint-down(lg) {
                    right: -1rem;
                }

                @include media-breakpoint-down(sm) {
                    width: 97.75px;
                    top: 1.25rem;
                    right: -0.5rem;
                }
            }

            .button {
                font-family: $poppins;
                border-radius: 0;
                font-weight: 700;
                color: $dark;
                background: $primary;
                transition: 0.7s all ease;
            }

            &:hover {
                background: $primary;
                transform: scale(1.04);

                .button {
                    background: $secondary;
                    border-color: $secondary;
                }
            }
        }
    }

    .festival-overview {
        background: imgUrl("festival-overview-sm.png") center 36%;
        background-size: contain;
        padding: 116px 0;

        @include media-breakpoint-up(md) {
            background: imgUrl("festival-overview.png") center bottom;
            background-size: contain;
        }

        @include media-breakpoint-up(lg) {
            padding: 195px 0 222px;
        }
    }

    .about-spicefest {
        padding: 46px 0;

        @include media-breakpoint-up(lg) {
            padding: 156px 0;
        }

        .hero-heading {
            font-size: 6rem; // 96px
            color: $white;
            line-height: 1;

            @include media-breakpoint-down(md) {
                font-size: 4rem;
            }
        }

        .description {
            color: $white;
            font-size: 1.5rem; // 24px
            font-weight: 700;
            font-family: $poppins;

            @include media-breakpoint-down(sm) {
                font-size: 1.25rem;
            }
        }

        .about-slider {
            .slick-slide {
                margin: 0 12px;

                @include media-breakpoint-down(sm) {
                    margin: 0 6px;
                }
            }
        }

        .enquire-btn {
            font-size: 1.5rem;
            display: block;
            border-radius: 0;
            color: $white;
            font-family: $poppins;
            font-weight: 700;
        }
    }

    .event-inclusions {
        background: imgUrl("inclusion.png") center bottom;
        background-size: contain;
        padding: 102px 0;

        @include media-breakpoint-up(md) {
            padding: 102px 0 200px;
        }

        @include media-breakpoint-up(xl) {
            padding: 282px 0 437px;
        }

        .float-title {
            @include media-breakpoint-up(xl) {
                position: absolute;
                top: -4rem;
                left: -2rem;
                color: $white;
                background-color: $very-spicy;
                text-transform: uppercase;
                padding: 24px;
                font-size: 2.0175rem;
                transform: rotate(-19.35deg);
            }

            @include media-breakpoint-down(xl) {
                font-size: 4rem;
                line-height: 1;
                text-transform: capitalize;
                padding-bottom: 40px;

                span {
                    color: #ffe07d;
                }
            }
        }

        @include media-breakpoint-down(xl) {
            .event-inclusion-slider {
                .slick-slide {
                    margin: 0 6px;
                }
            }
        }

        .inclusion-card {
            height: 318px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: end;
            transition: 0.3s ease-in-out;

            &:hover {
                box-shadow: 0 0 17px 9px rgba(0, 0, 0, 0.35);
            }

            $inclusions: "free-entry", "food-truck", "desserts", "entertainment", "drums", "dancing";

            @each $img in $inclusions {
                &.#{$img} {
                    background: imgUrl("inclusion-#{$img}.png") center;
                    background-size: cover;
                }
            }

            .caption {
                color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                background: #e84521;
                padding: 8px 16px;
                font-size: 1.5rem;
                text-align: center;
                line-height: 1;
                height: 90px;

                @include media-breakpoint-down(sm) {
                    font-size: 1.0625rem;
                    height: 60px;
                }
            }
        }
    }

    .indoor-event-inclusion {
        background: imgUrl("look-forward-to-clouds.png") center bottom, linear-gradient(#f35328 0%, #ef4a26 100%);
        background-size: contain;
        padding: 63px 0 175px;

        @include media-breakpoint-up(md) {
            padding: 63px 0 175px;
        }

        @include media-breakpoint-up(lg) {
            padding: 158px 0 41px;
        }

        .float-title {
            @include media-breakpoint-up(xl) {
                position: absolute;
                top: -4rem;
                left: -2rem;
                color: $white;
                background-color: $very-spicy;
                text-transform: uppercase;
                padding: 24px;
                font-size: 2.0175rem;
                transform: rotate(-19.35deg);
            }

            @include media-breakpoint-down(xl) {
                font-size: 4rem;
                line-height: 1;
                text-transform: capitalize;
                padding-bottom: 40px;

                span {
                    color: #ffe07d;
                }
            }
        }

        .content {
            background: #e82d21;
            padding: 20px;

            @include media-breakpoint-up(lg) {
                padding: 54px 24px;
            }

            @include media-breakpoint-up(xxl) {
                padding: 54px 68px;
            }

            .ticket-text {
                font-size: 1.5rem;
            }
        }

        .look-forward-to {
            color: white;
            text-align: center;
            padding-top: 572px;
            font-size: 6rem; // 96px
            margin-bottom: 0;
            line-height: 1;

            @include media-breakpoint-down(xl) {
                font-size: 5rem;
                padding-top: 200px;
            }

            @include media-breakpoint-down(lg) {
                font-size: 4rem;
                padding-top: 158px;
            }

            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }

    .bottom-section {
        background: linear-gradient(180deg, #ff8335 0.87%, #f5572a 99.62%);

        .look-forward-to {
            @include media-breakpoint-up(md) {
                display: none;
            }

            @include media-breakpoint-down(sm) {
                color: white;
                text-align: center;
                padding-top: 85px;
                padding-bottom: 83px;
                font-size: 4rem; // 96px
                margin-bottom: 0;
                line-height: 1;
            }
        }

        .variety {
            padding: 80px 0;

            @include media-breakpoint-down(sm) {
                padding: 55px 0;
            }

            .variety-slider {
                .slick-slide {
                    margin: 0 8px;

                    @include media-breakpoint-down(sm) {
                        margin: 0 6px;
                    }
                }

                .variety-slider-wrapper {
                    .caption {
                        color: $white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        background: #e84521;
                        padding: 16px;
                        font-size: 1.5rem;
                        text-align: center;
                        line-height: 1;
                        height: 90px;

                        @include media-breakpoint-down(sm) {
                            font-size: 1.0625rem;
                            height: 60px;
                        }
                    }
                }
            }
        }

        .sponsors {
            background: imgUrl("sponsors-monuments.png") center bottom;
            background-size: contain;
            padding: 20px 0;

            @include media-breakpoint-up(md) {
                padding: 80px 0;
            }
        }
    }
}

footer {
    margin-top: -1px;
    background: #db0606;

    .footer-bottom {
        font-family: $poppins;
        font-size: 1rem;
        color: $white;
        font-weight: 500;
        padding: 38px 0 54px;

        @include media-breakpoint-up(md) {
            padding: 67px 0 30px;
        }
    }
}
