@function imgUrl($file, $path: "background") {
    @return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    background: imgUrl("clouds.png") center 128%, linear-gradient(0deg, #ff7a32 0%, #ffd752 100%);
    background-size: contain;
    padding: 48px 0 181px;

    .banner {
        position: relative;

        .fia-presents {
            position: absolute;
            left: 6%;
            top: 11%;
        }

        .hero-img {
            position: relative;

            .buy-tickets {
                position: absolute;
                right: 8rem;
                top: 16rem;
                z-index: 1;
            }

            .spicefest {
                position: relative;
                z-index: 100 !important;
            }

            .location {
                background: linear-gradient(180deg, #ff7222 0%, #e43b16 100%);
                border-radius: 7.97678px;
                transform: rotate(6.22deg);
                color: $white;
                font-size: 41.62px;
                text-align: center;
                display: inline-block;
                padding: 24px;
                position: absolute;
                bottom: -4rem;
                left: 12%;
                z-index: 2;
            }

            .date {
                color: #fff;
                font-size: 74.92px;
                line-height: 1;
                text-align: center;
                display: inline-block;
                padding: 24px 60px;
                background: linear-gradient(180deg, #ee0202 0%, #d60707 100%);
                border-radius: 5.84235px;
                transform: rotate(-11.45deg);
                position: absolute;
                font-family: "Poppins", sans-serif;
                bottom: -5rem;
                right: 18%;
                z-index: 3;
                font-weight: 900;
            }
        }

        .timing {
            padding-top: 200px;
        }
    }
}

section.main {
    background: linear-gradient(180deg, #ff7631 11.6%, #fa7035 99.62%);

    .event-category {
        .category-card {
            height: 100%;
            background: linear-gradient(180deg, #e24a29 0%, #ff5732 100%);
            padding: 22px 36.71px 36.71px;
            position: relative;

            .title {
                font-size: 2.364375rem; // 37.83px
                text-align: center;
                line-height: 1;
                padding-bottom: 15px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include media-breakpoint-down(sm) {
                    font-size: 1rem;
                }
            }

            .window {
                height: 409px;
                width: 100%;
                padding: 24px;
                display: flex;
                justify-content: center;
                align-items: end;

                &.win1 {
                    background: imgUrl("category-outdoor.jpg") center;
                    background-size: cover;
                }

                &.win2 {
                    background: imgUrl("category-indoor.jpg") center;
                    background-size: cover;
                }
            }

            .free-entry-circle {
                position: absolute;
                top: 2.5rem;
                left: -3rem;
            }

            .held-at-circle {
                position: absolute;
                top: 0;
                top: 2.5rem;
                right: -4rem;
            }
        }
    }

    .festival-overview {
        padding: 195px 0 222px;
        background: imgUrl("festival-overview.png") center bottom;
        background-size: contain;
    }
}
